
.menu {
    width: 100%;
    height: 1000px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    position: relative;
    background-image: url(https://ucda0b6d320fb3149294051305ef.previews.dropboxusercontent.com/p/thumb/AB1WHjCpTqu02J9kbb7w7Wxq7lnnUOLbMFQkg-k3XHTE2RFdIrdJWFGIxXDriv3PgmYd9ufQgK4fiWj_LqnQ6-Gfc_OkM2kdhR3wu3mrTtCPFDVRV4OfAc6OF3YG2FtrL8094FGO-IW2G5xN07u_reyUObYmiJw26EDpTTuvbKbaf7mJAcaWaZk3bE2Hl4mCRauD5W9yzJmt8SdoZNl4pYEusHO1zVBOh7bCbaT9rRdnqR8AErfG1j2pj3OB7IZTjYtPZ9nYGAKfSjP8X7StbqBeP8I2KWKLoWSKMvAerzwdCRo8adVjHMslntypaMRxLKZp37EK80fn6fJm2HbVqw3rT4tjQ9RsolMlr0Ic4QjP32lVwCFLnEmYuCdtXA96Q54/p.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    font-size: 20px;
}



.menu .m1 {
    height: 75px;
    width: 550px;
    align-content: center;
    text-align: center;
}

.menu .m1 ul {
    display: flex;
    list-style: none;
}

.menu .m1 li {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu li:before {
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
}

.menu .m2 {
    height: 75px;
    width: 550px;
}

.menu .m2 ul {
    display: flex;
    list-style: none;
}

.menu .m2 li {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.anh1 {
    width: 1000px;
    height: 300px;
    margin: auto;
    display: flex;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -70%);
    border: 1px solid rgb(10, 10, 99);
}
.anh1 .a0{
    position: absolute;
    right: 97%;
}
.anh1 .a1 {
    display: block;
    width: 250px;
    border: 2px solid rgb(10, 10, 99);
    
}

.anh1 .a1 .a11 {
    height: 150px;
    border: 1px solid rgb(10, 10, 99);
}

.anh1 .a1 .a11 img {
    width: 100%;
    height: 100%;
}

.anh1 .a1 .a12 {
    height: 145px;
    overflow: hidden;
    border: 1px solid rgb(10, 10, 99);
    ;
}

.anh1 .a1 .a12 img {
    width: 200%;
    height: 100%;
}

.anh1 .a2 {
    width: 500px;
    border: 5px solid rgb(10, 10, 99);
    ;
}


.anh1 .a2 img {
    width: 100%;
    height: 100%;
}

.anh1 .a3 {
    width: 250px;
    border: 1px solid rgb(10, 10, 99);
    ;
}

.anh1 .a3 .a31 {
    height: 250px;
    border: 1px solid rgb(10, 10, 99);
    ;
}

.anh1 .a3 .a31 img {
    width: 112%;
    height: 100%;
}

.anh1 .a3 .a32 {
    height: 45px;
    border: 3px solid rgb(10, 10, 99);
    ;
}

.anh1 .a3 .a32 img {
    width: 100%;
    height: 100%;
}

.anh2 {
    width: 750px;
    height: 120px;
    position: absolute;
    left: 28%;
    top: 79%;
}

.anh2 img {
    width: 100%;
    height: 100%;
}

.menu3 {
    height: 700px;
    width: 750px;
    margin-left: 630px;
    margin-top: 20px;
    border: 5px solid rgb(10, 10, 99);
    border-top: none;
}

.anh4 {
    height: 400px;
    width: 235px;
    position: absolute;
    left: 61.5%;
    top: 79%;
    border: 5px solid rgb(10, 10, 99);

}

.anh4 img {
    width: 100%;
    height: 100%;
}

.anh5 {
    width: 100%;
    height: 300px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-image: url(https://uc3252399ee761878b32c799d3fa.previews.dropboxusercontent.com/p/thumb/AB13pK02l_7uNDP0MO9v11ZPdfU8ofcFQa_NHGqncvGYzye0WnA3NOPoM6zHUDQOrvQzCBXLpQQ2wwOP1yHYv-7WKfQB5_pWWYJEKvlF1-5xlqcrJepX3ogeHzCpI4ti_AMAe4koX1CPAP3hDR1paMJvOHfpO90pX6FvUJOGZR2K5dCxvoRwWBHByBxAXQJzit0dGvPcLOtxbw0moNAdDBJcx7xqEJF-V62qqLdzGYCOcC8_ib0xqFW1BWUuiy6Ly3aJVFAZOTrEMZ5cm6Sms1s8RWYbWdFlNFA2NzXpyWaJOM6E1ZjB8ro9PKkN1CRQWzd8uHFj9Jb04BCdRXGwycR46uYwTouJQEn-duKzyFo8AaEppggEIJuYKS8uq-DT2OI/p.jpeg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.anh5 .logo {
    width: 220px;
    height: 60px;
    margin-left: 90px;
    margin-top: 25px;
    margin-bottom: auto;
    margin-right: 100px;
}

.anh5 .logo img {
    width: 100%;
    height: 100%;
}

.anh5 .kb {
    width: 500px;
    height: 250px;
    margin-right: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

.anh5 .kb .kb1 {
    width: 100%;
    height: 5%;
    align-items: center;
    text-align: center;
    margin: auto;
}

.anh5 .kb .kb1 ul {
    display: flex;
    list-style: none;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.anh5 li {

    margin: auto;
}

.anh5 li::after {
    content: "|";
    margin-right: 10px;
    margin-left: 10px;
}

.anh5 .kb .kb2 {
    width: 100%;
    height: 95%;
    align-items: center;
    text-align: center;
}

.menu3 .m31 {
    width: 100%;
    height: 7%;
    background-image: url(https://uc8f4c4b1064b95b7aa007ff3ecc.previews.dropboxusercontent.com/p/thumb/AB3trfeEFmUXpD1JLzLDZGnjkHNzaIJ1A_8JyNbjCtu-xQBIALNnlMODoz_W67-yi0D6zee1SwYJBxC4Wma_eJLrrsaUyeeiB2-u53h-ZH0gVfnLJOjS_D8KdLvwfTu1vBDu4YT1vm9XVzyG2AVIyoUiJWfV3OyrI7F7z4lKxkMDX6p7gh2bKFxpJTPvNTrd255Jw6XNrTIpezwBCE4cVaWYsg-82EN08wIxrcNqrIBOj8mRf8mTZKtkpdz2yrKjyg2I7pWrwQ0eugYU5SmvdcM9oYLn90yMVVjW0LdmJpBEe29yMpSUkLNccPjx5ypmKBFC64VVGD-hcwoRfspIVt-3ltofz2jG4chO8p4sAv6t0_Db1dzJ_dyiGhDGC2F3sLY/p.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: yellow;
    align-items: center;
    border: 1px solid rgb(10, 10, 99);
    border-top: 1px solid red;
}

.menu3 .m31 ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-right: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu3 .m31 li:first-child {
    color: white;
}

.menu3 .m32 {
    width: 100%;
    height: 92.5%;
    display: block;
}

.menu3 .m32 .m321 {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu3 .m32 .m321 .anh31 {
    width: 30%;
    height: 80%;
    margin-left: 10px;
    border: 4px solid rgb(141, 141, 38);
}

.menu3 .m32 .m321 .anh31 img {
    width: 100%;
    height: 100%;
}

.menu3 .m32 .m321 .nd31 {
    width: 60%;
    height: 80%;
    margin-right: 50px;
}

.menu3 .m32 .m321 .nd31 .mb1 {
    width: 90%;
    height: 30%;
    color: red;
    border-left: 4px solid red;
    margin: auto;
}

.menu3 .m32 .m321 .nd31 .mb1 b {
    padding-left: 10px;
}

.menu3 .m32 .m321 .nd31 i {
    padding-left: 20px;
    font-size: 16px;
    color: gray;
}

.menu3 .m32 .m321 .nd31 p {
    padding-left: 20px;
    font-size: 18px;
    color: gray;
    padding-bottom: 100px;
}

.menu3 .m32 .m322 {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu3 .m32 .m322 .anh32 {
    width: 30%;
    height: 80%;
    margin-left: 10px;
    border: 4px solid rgb(141, 141, 38);
}

.menu3 .m32 .m322 .anh32 img {
    width: 100%;
    height: 100%;
}

.menu3 .m32 .m322 .nd32 {
    width: 60%;
    height: 80%;
    margin-right: 50px;
}

.menu3 .m32 .m322 .nd32 .mb2 {
    width: 90%;
    height: 15%;
    color: red;
    border-left: 4px solid red;
    margin: auto;
}

.menu3 .m32 .m322 .nd32 .mb2 b {
    padding-left: 10px;
}

.menu3 .m32 .m322 .nd32 i {
    padding-left: 20px;
    font-size: 16px;
    color: gray;
}

.menu3 .m32 .m322 .nd32 p {
    padding-left: 20px;
    font-size: 18px;
    color: gray;
    padding-bottom: 100px;
}

.menu3 .m32 .m323 {
    width: 100%;
    height: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu3 .m32 .m323 .anh33 {
    width: 30%;
    height: 80%;
    margin-left: 10px;
    border: 4px solid rgb(141, 141, 38);
}

.menu3 .m32 .m323 .anh33 img {
    width: 100%;
    height: 100%;
}

.menu3 .m32 .m323 .nd33 {
    width: 60%;
    height: 80%;
    margin-right: 50px;
}

.menu3 .m32 .m323 .nd33 .mb3 {
    width: 90%;
    height: 15%;
    color: red;
    border-left: 4px solid red;
    margin: auto;
}

.menu3 .m32 .m323 .nd33 .mb3 b {
    padding-left: 10px;
}

.menu3 .m32 .m323 .nd33 i {
    padding-left: 20px;
    font-size: 16px;
    color: gray;
}

.menu3 .m32 .m323 .nd33 p {
    padding-left: 20px;
    font-size: 18px;
    color: gray;
    padding-bottom: 100px;
}

.menu3 .m32 .m324 {
    width: 100%;
    height: 14.5%;
    align-items: center;
    justify-content: end;
    display: flex;

}

.menu3 .m32 .m324 .nd341 {
    width: 15%;
    height: 30%;
    margin-right: 20px;
    border: 2px solid gray;
}

.menu3 .m32 .m324 .nd341 button {
    width: 100%;
    height: 100%;
    color: gray;
    background-color: rgb(10, 10, 99);
    font-size: 15px;
}

.menu3 .m32 .m324 .nd342 {
    width: 15%;
    height: 30%;
    margin-right: 10px;
    border: 2px solid gray;
}

.menu3 .m32 .m324 .nd342 button {
    width: 100%;
    height: 100%;
    color: gray;
    background-color: rgb(10, 10, 99);
    font-size: 15px;
}